.title {
  text-align: center;
  outline: none;

  h1, h3 {
    margin-bottom: 0;
  }

  p {
    margin: 0 auto;
    max-width: 900px;
  }
}

.invisible-anchor {
  display: block;
  position: relative;
  top: -150px;
  visibility: hidden;
}