section {
  padding: map-get($spacing, 80) 0;
  border-bottom: $border;
  overflow: hidden;

  &.bg-image {
    @include bg-cover(center);

    * {
      color: $white;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  .row {
    margin-bottom: map-get($spacing, 40);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.row {
  outline: none !important;
}

.column {
  &.center {
    justify-content: center;
    text-align: center;
  }
}

.archive-404 {
  display: flex;
  width: 100%;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}